body {
    background-color: var(--theme_light_green);
}
/* Logo */
.logo {
    position:absolute;
    top: 83px;
    left: 29px;
    width: 488px;
    height: auto;
}

/* Button Style */
.button_main{
    background-color: var(--theme_dark_green); /* Green */
    border: black;
    border-radius: 50px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}
.create_account_button {
    position: absolute;
    top: 425px;
    left: 90px;
    width: 366px;
    height: 104px;
    border: thin solid #090909;
}
.sign_in_button {
    position: absolute;
    top: 550px;
    left: 90px;
    width: 366px;
    height: 104px;
}
.glassmorphic-box{
    position:relative;
    width: 100%;               /* Make sure it stretches to the full width of the parent */
    height: 100%;

    font-size: 27px;
    color:var(--theme_black);
    display: flex; /* Center text using flexbox */
    justify-content: center;  /* Center horizontally */
    align-items: center;     /* Center vertically */
    flex-direction: column; /* stack text on top of each other */
    z-index: 1; /* essientially defines layer */
    padding-left: 40px;
    padding-right: 40px;
}
.glassmorphic-box::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.05);
    border: thin solid #090909;
    backdrop-filter: blur();
    border-radius: 100px;
}
.about_textbox {
    position: absolute;
    top: 113px;
    left: 599px;
    width: 787px;
    height: 570px;
}